@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    background-color: purple;
    color: white;
    font-size: 14px;
    padding: 20px 30px;
    border: 1px purple solid;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    margin: 10px 0;
    cursor: pointer;
    position: absolute;
}

button:focus { 
    outline: none;
}

.circle {
    position: absolute;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}